# This file is used by Flex Tool Bar to create buttons on your Tool Bar.
# For more information how to use this package and create your own buttons,
#   read the documentation on https://atom.io/packages/flex-tool-bar

[
  {
    type: "url"
    icon: "mark-github"
    url: "https://github.com/codebytere"
    tooltip: "Github"
  }
  {
    type: "button"
    icon: "folder-open"
    iconset: "icomoon"
    callback: "application:add-project-folder"
    tooltip: "Add Project Folder"
    style:
      color: "#0066ff"
  }
  {
    type: "button"
    icon: "file"
    callback: "advanced-open-file:toggle"
    tooltip: "New File"
    style:
      color: "#0066ff"
  }
  {
    type: "button"
    icon: "search"
    callback: "project-find:toggle"
    tooltip: "Universal Search"
    style:
      color: "#0066ff"
  }
  {
    type: "button"
    icon: "rocket"
    tooltip: "Toggle Command Palette"
    callback: "command-palette:toggle"
    style:
      color: "#cc00ff"
  }
  {
    type: "button"
    icon: "screen-full"
    callback: "expose:toggle"
    tooltip: "Expose"
    style:
      color: "#7733ff"
  }

  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "markdown"
    callback: "markdown-preview:toggle"
    tooltip: "Markdown Preview"
    style:
      color: "#5993E5"
  }
  {
    type: "button"
    icon: "diff"
    callback: 'split-diff:toggle'
    tooltip: "Diff"
    style:
      color: "#519872"
  }
  {
    type: "button"
    icon: "radio-tower"
    callback: "open-on-github:blame"
    tooltip: "Git Blame"
    style:
      color: "#770f5d"
  }

  {
    type: "button"
    icon: "zap"
    callback: "atom-beautify:beautify-editor"
    tooltip: "Beautify"
    style:
      color: "#ff8c1a"
  }
  {
    type: "spacer"
  }
  {
    type: "button"
    icon: "tools"
    callback: "window:toggle-dev-tools"
    tooltip: "Dev Tools"
    style:
      color: "#5900b3"
  }
  {
    type: "button"
    iconset: "fa"
    icon: "refresh"
    callback: "window:reload"
    tooltip: "Reload"
    style:
      color: "#006622"
  }
  {
    type: "button"
    icon: "gear"
    callback: "settings-view:open"
    tooltip: "Settings"
    style:
      color: "#000"
  }
]
